:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --primary-bcg-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --footer-bcg: #2f303a;
  --accent-color: #2196f3;
  --dark-bcg-text: #ffffff;
  --font-family-text: Roboto;
  --font-size-text: 14px;
}

/*General*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-bcg-color);
  color: var(--primary-title-color);
  font-family: var(--font-family-text), sans-serif;
  font-size: var(--font-size-text);
  letter-spacing: 0.03em;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link,
.logo-link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.button {
  color: inherit;
  background: var(--secondary-bcg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  padding: 6px 24px;
  border-radius: 4px;
  border: none;
}

.button:hover,
.button:focus {
  color: var(--dark-bcg-text);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.logo-web,
.logo-studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-link {
  display: block;
}

/*Header*/

header .logo-web {
  color: var(--accent-color);
}

.logo-link {
  margin-right: 93px;
}

.current {
  color: var(--accent-color);
}

.nav .link,
.contact .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: block;
  padding: 32px 0;
}

.main-nav {
  display: flex;
  align-items: center;
}

.contact {
  color: var(--primary-text-color);
  margin-left: auto;
}

.nav,
.contact {
  display: flex;
}

.nav .item:not(:last-child) {
  margin-right: 50px;
}

.contact .item:not(:last-child) {
  margin-right: 50px;
}

/*inex.html*/

/*section hero*/
.hero {
  background-color: var(--footer-bcg);
  text-align: center;
}

.hero .title {
  color: var(--dark-bcg-text);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-title {
  margin: 0 0 30px 0;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--dark-bcg-text);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 10px 32px;
}

/*section features*/

.features {
  padding-top: 94px;
}

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.features-text {
  color: var(--primary-text-color);
  line-height: 1.71;
  margin: 0;
}

/*section works, section team*/

.work,
.team {
  text-align: center;
  padding: 94px 0;
}

.work .title {
  margin: 0 0 50px 0;
}

.team {
  background-color: var(--secondary-bcg-color);
}

.team .title {
  margin: 0 0 50px 0;
}

.team-name,
.team-position {
  font-size: 16px;
  line-height: 1.19;
}

.team-name {
  font-weight: 500;
  margin: 0;
}

.team-position {
  color: var(--primary-text-color);
  margin: 0;
}

/*footer*/

footer {
  background-color: var(--footer-bcg);
  padding: 60px 0;
}

footer .logo-web {
  color: var(--accent-color);
}
footer .logo-studio {
  color: var(--dark-bcg-text);
}

footer .logo-link {
  margin: 0 0 20px 0;
}

.address {
  font-style: inherit;
}

.footer-map,
.footer-contact {
  line-height: 1.71;
  margin-bottom: 9px;
}
.footer-map {
  color: var(--dark-bcg-text);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

/*portfolio.html*/

/*main*/

.projects {
  padding: 94px 0;
}

.project-img {
  margin-bottom: 20px;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin: 0 0 4px 0;
}

.project-description {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;

  margin: 0 0 20px 0;
}
